
<form method="GET" action="[% current_url | html %]" id="dataform">
<input type="hidden" name="q" value="[% current_args.q | html %]" />
[% INCLUDE "form_fields.tt" %]
</form>
<script type="text/javascript" src="dataform.js"></script>

